version: '3.7'
services:
  db:
    image: mysql:5.7
    container_name: UserDb
    restart: always
    environment:
      MYSQL_USER: 'api'
      # MYSQL_DATABASE: 'user_data_base'
      MYSQL_PASSWORD: 'wtAGC7VbSLx2ZHVv'
      MYSQL_ROOT_PASSWORD: '925kGnQGPRx5YEJ5'
    ports:
      # <Port exposed> : < MySQL Port running inside container>
      - '3306:3306'
    expose:
      - '3306'
    volumes: 
      - my-db:/var/lib/mysql
      - ./db_conf:/docker-entrypoint-initdb.
      - ./db_conf/initial.sql:/docker-entrypoint-initdb.d/initial.sql
  redis:
    image: "redis:alpine"
    container_name: Redis
    restart: always
    ports:
      - '6379:6379'
volumes: 
  my-db: